# Environnement virtuel
venv/
__pycache__/
*.pyc

# Fichiers sensibles
.env
# *.sqlite3  # COMMENTÉ pour partager la base de données de test avec les collaborateurs

# Docker
postgres_data/

# IDE
.vscode/
.idea/
